{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0"}
        com.netflix.conductor/conductor-common
        {:mvn/version "3.8.0" :exclusions [com.github.vmg.protogen/protogen-annotations com.google.guava/guava]}
        com.google.guava/guava
        {:mvn/version "31.0.1-jre"}
        io.orkes.conductor/orkes-conductor-client {:mvn/version "0.2.0" :exclusions [com.github.vmg.protogen/protogen-annotations com.google.guava/guava]}
        http-kit/http-kit {:mvn/version "2.6.0-alpha1"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ;; com.netflix.conductor/conductor-java-sdk {:mvn/version "3.8.0"}
        ;; ch.qos.logback/logback-classic {:mvn/version "1.2.5"}
        }
 :aliases
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.4" :git/sha "c21cfde"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      com.netflix.conductor/conductor-java-sdk {:mvn/version "3.8.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
